.blue {
    background: #01a8ed;
}

.yellow {
    background: #ffe699;
}

.orange {
    background: #f9943b;
}

.white {
    background: #fff;
}

.green {
    background: #c6e0b4;
}

.peach {
    background: #ff9966;
}

.light-peach {
    background: #ffcc99;
}

.step-1-pure {
    background: #9966ff;
}

.step-1-light {
    background: #cc99ff;
}

.step-2-pure {
    background: #ffc000;
}

.step-2-light {
    background: #ffcc99;
}

.step-3-pure {
    background: #00b0f0;
}

.step-3-light {
    background: #4ed0ff;
}

.step-4-pure {
    background: #ff33cc;
}

.step-4-light {
    background: #ff99ff;
}

.step-5-pure {
    background: #00b050;
}

.step-5-light {
    background: #92d050;
}

.step-6-pure {
    background: #9966ff;
}

.step-6-light {
    background: #9999ff;
}

.step-7-pure {
    background: #ff9966;
}

.step-7-light {
    background: #ffcc99;
}

.dirty-green {
    background: #e2efda;
}

.dirty-gray {
    background: #d9e1f2;
}

.full-width {
    width: 100%;
}

.header-text {
    font-size: 1.2rem;
}

.wrapper {
    width: 100%;
}

.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    padding: 3px;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

.progress-bar-fill {
    display: block;
    height: 22px;
    background-color: #659cef;
    border-radius: 3px;
    
    transition: width 500ms ease-in-out;
}

.left {
    width: 47.5%;
    margin-right: 2.5%;
    position: absolute;
}

.right {
    width: 47.5%;
    margin-left: 2.5%;
    position: absolute;
}

.nav-item {
    margin-right: 30px;
}

table tr td, table tr th {
    text-align: center;
    font-size: 1rem;
}

table thead tr th, table tbody tr td{
    padding: 1rem !important;
    box-sizing: border-box;
}

#right table thead tr th, #right table tbody tr td{
    padding: 0.5rem !important;
    box-sizing: border-box;
}

.footer label {
    font-size: 1.50rem;
}

.w-10-p {
    width: 10%;
}

.vertical-text {
    transform: rotate(180deg);
    -ms-writing-mode: tb-lr;
    -webkit-writing-mode: tb-lr;
    -moz-writing-mode: tb-lr;
    writing-mode: tb-lr;

    -ms-writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -moz-writing-mode: vertical-lr;
    writing-mode: vertical-lr;

    -ms-writing-mode: sideways-lr;
    -webkit-writing-mode: sideways-lr;
    -moz-writing-mode: sideways-lr;
    writing-mode: sideways-lr;
}

.vertical-text-1 {
    -webkit-transform: rotate(270deg); 
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.p-0-important {
    padding: 0 !important;
}

.start span input[type="input"], .end span input[type="input"] {
    border: 0;
    text-align: center;
}

.start span input[type="input"]:focus, .end span input[type="input"]:focus {
    box-shadow: none;
}

.with-border {
    border: 2px solid #000;
}

.with-border-left {
    border-left: 2px solid #000;
}

.with-border-right {
    border-right: 2px solid #000;
}

.with-border-top {
    border-top: 2px solid #000;
}

.with-border-bottom {
    border-bottom: 2px solid #000;
}

.mt-2px {
    margin-top: -2px;
}

.mx-width-100 {
    max-width: 100%;
}

table tbody tr td {
    word-break: break-word;
}

.page-break-always {
    page-break-before: always;
    page-break-after: always;
}

.w-33 {
    width: 33% !important;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
}

:-ms-input-placeholder {  
    text-align: center; 
}

input::placeholder {
    text-align: center;
}





/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/

/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/

/* Super small devices (landscape phones, 576px and up) */
@media (min-width: 200px) {  
    .p-5 {
        padding: 0 !important;
    }

    table tr td, table tr th {
        text-align: center;
        font-size: 0.8rem;
    }
    
    table thead tr th, table tbody tr td{
        padding: 0.5rem !important;
        box-sizing: border-box;
    }
    
    #right table thead tr th, #right table tbody tr td{
        padding: 0.25rem !important;
        box-sizing: border-box;
    }

    .start span input[type="input"], .end span input[type="input"] {
        font-size: 0.8rem;
    }

    .footer label {
        font-size: 1.1rem;
        margin-bottom: 2rem;
    }

    .header-1 {
        font-size: 1.1rem;
    }

    .vertical-text-1 {
        font-size: 0.5rem;
    }

    .pl-15 {
        padding-left: 0px;
    }

    .pr-15 {
        padding-right: 0px;
    }

    .plr-0 {
        padding-left: 0px;
        padding-right: 0px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
    .vertical-text-1 {
        font-size: 0.6rem;
    }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    .vertical-text-1 {
        font-size: 0.7rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .p-5 {
        padding: 2.5rem !important;
    }

    .vertical-text-1 {
        font-size: 0.8rem;
    }

    .pl-15 {
        padding-left: 15px;
    }

    .pr-15 {
        padding-right: 15px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .container-fluid {
        padding-left: 7.5% !important;
        padding-right: 7.5% !important;
    }

    table tr td, table tr th {
        text-align: center;
        font-size: 0.8rem;
    }

    table thead tr th, table tbody tr td{
        padding: 1rem !important;
        box-sizing: border-box;
    }

    #right table thead tr th, #right table tbody tr td{
        padding: 0.5rem !important;
        box-sizing: border-box;
    }

    .start span input[type="input"], .end span input[type="input"] {
        font-size: 1rem;
    }

    .footer label {
        font-size: 1.50rem;
    }

    .header-1 {
        font-size: 1.20rem;
    }

    .vertical-text-1 {
        font-size: 0.9rem;
    }
}